@model IEnumerable<Fetch_API.Models.PersonModel>

@{
    ViewData["Title"] = "User List";
}
<h1>@ViewData["Title"]</h1>


<div>
    <h3>Person List</h3>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger" role="alert">@TempData["Message"]</div>
    }
    @if (TempData["InsertMessage"] != null)
    {
        <div class="alert alert-success" role="alert">@TempData["InsertMessage"]</div>
    }
    @if (TempData["UpdateMessage"] != null)
    {
        <div class="alert alert-warning" role="alert">@TempData["UpdateMessage"]</div>
    }



</div>
<div class="add-button mr-auto my-md-2">
    <a asp-area="" asp-action="AddPerson" asp-controller="Person">
        <input type="button" class="btn btn-success" value="Add New Record" />
    </a>
</div>

<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th scope="col">PersonID</th>
            <th scope="col">PName</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody id="sample_2">
        @foreach (var dr in Model)
        {
            <tr>
                <th scope="row">@dr.PersonID</th>
                <td>@dr.Pname</td>
                <td>@dr.Email</td>
                <td>@dr.Contact</td>

                <td>
                    <a href="@Url.Action("Edit","Person",new{PersonID=dr.PersonID})" class="btn btn-primary waves-effect waves-light">Edit</a>
                    <a href="@Url.Action("DeleteByID","Person",new{PersonID=dr.PersonID})" class="btn btn-danger waves-effect waves-light">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>